version: "3.8"



services:
 
  minio:
    image: quay.io/minio/minio:latest
    container_name: gamestation_minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=miniosecret
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - /docker/gamestationminio:/data
    
 

